@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 3rem;
  margin: 1rem;
  overflow: hidden;
  background-image: url("../assets/background.jpg");
  background-size: cover;
}
