@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 3rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../assets/background.jpg");
  background-size: cover;
}
